@model RentAcar.Models.AdminTablo
@{
    ViewBag.Title = "adminEkle";
    Layout = "~/Views/Shared/adminPanel.cshtml";
}

<h2>Yeni Admin Ekleme Sayfası</h2>

@using (Html.BeginForm("adminEkle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
            </td>
            <td>
                @Html.TextBoxFor(m => m.sifre, new { @class = "form-control", placeholder = "Şifre" })
            </td>
        <tr />
        <tr>
            <td>
                <button type="submit" class="btn btn-success">Ekle</button>
                <hr />
                <p>@ViewBag.uyari</p>
            </td>
        </tr>
    </table>

}