@model  List<RentAcar.Models.Akategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/anasayfa.cshtml";
}

<div style="position:absolute; top:0px; left:0px; width:100%; height:auto; z-index:1">
    <img src="~/imajlar/banner.jpg" width="100%" />
</div>

